.mainHome {
    display: flex;
    flex-direction: column;
    padding-top: 75px ;
    width: 100%;
    background-color: var(--background-color);

}

.mainHome > h3 {
    color: var(white-color);
    padding-left: 40px;
    margin-top: 15px;
}

/* responsividade */
@media (max-width: 530px) {
    .mainHome > h3 {
        padding-left: 25px;
        font-size: clamp(0.9rem, 1.8vw, 2rem);
    }
}