.header{
    display: flex;
    flex-direction: column;
    padding: 0 20px; 
    position: fixed !important;
    width: 100%;
    z-index: 1000;
}

h3 {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    align-items: center;
    background-color: rgba(248, 248, 248, 0.068);
    backdrop-filter: blur(15px);
    padding: 0 20px;
    border-radius: 0 0 10px 10px;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.menuIcon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
    font-size: clamp(1.3rem, 1.8vw, 2rem);
    transition: transform 0.3s ease-in-out;
}

.menuIcon:hover {
    transform: scale(1.1);
}

.headerCategory {
    display: flex;
    align-items: center;
    gap: 20px;
}

.headerCategoryLinks {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    padding-right: 25px;
}

.headerCategoryLinks a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

/* Mobile Navigation Styles */
.mobileNav {
    max-height: 0;
    overflow: hidden;
    background-color: rgb(211, 211, 211);
    backdrop-filter: blur(10px);
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

.mobileNavOpen {
    max-height: 200px;
    opacity: 1;
    z-index: 2;
}

.mobileNavContent {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    transform: translateY(-20px);
    transition: transform 0.4s ease-in-out;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.mobileNavOpen .mobileNavContent {
    transform: translateY(0);
}

.mobileNavContent a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 0.9rem;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    transition: all 0.3s ease;
}

.mobileNavContent a:hover {
    color: #ffffff;
    padding-left: 10px;
}

.mobileNavContent a:last-child {
    border-bottom: none;
}

/* Design Responsivo */
@media (max-width: 530px) {
    .logo {
        padding: 0;
    }

    .header {
        padding: 0;
    }

    .header::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(270deg, #ffffff, #535353, #ffffff);
        background-size: 200% 100%;
        animation: slideLine 2s linear infinite alternate;
        z-index: 2;
    }
  
    @keyframes slideLine {
        0% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 100% 0%;
        }
    }

    .headerCategoryLinks {
        display: none;
    }

    .headerContent {
        background-color: var(--background-color);
        padding: 0;
    }

    .profileImage {
        display: none;
    }

    .menuIcon {
        display: flex;
        width: 1rem;
        padding: 9px 25px;
    }

    .mobileNav {
        display: block;
    }
}

@media (min-width: 531px) {
    .mobileNav {
        display: none;
    }
}