:root {
    --primary-color: #0AA67A;
    --background-color: #060606;
    --card-color: #151515;
    --white-color: #DFDFDF;
}

#root {
    background-color: #060606;
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}