.container {
    display: flex;
    overflow-x: auto;
    padding-left: 24px;
    padding-top: 10px;
    --sb-size: 9px;
    --sb-track-color: #ffffff04;
    --sb-thumb-color: var(--primary-color);
    scroll-margin-left: 15px;
}

.shadow {
  background-color: aqua;
  width: 100%;
  height: 100%;
  position: static;
}

.container::-webkit-scrollbar {
    height: var(--sb-size);
    
}

.container::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: px;
}

.container::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .container {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
  }
}

.scrollContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 20px;
}

.scrollItens {
    display: flex;
    gap: 1rem;
    border-radius: 10px;
}


/*
.container::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  min-height: 365px;
  height: clamp(300px 500px 100vh);
  box-shadow:
    13px 0px 9px -3px rgba(238, 5, 5, 0.75) inset,  
    -13px 0px 9px -3px rgba(0,0,0,0.75) inset;
  pointer-events: none;
  display: flex;
  z-index: 0;
}
*/