.container {
    display: flex;
    overflow-x: auto;
    padding-left: 24px;
    padding-top: 10px;
    width: 100%;
    max-width: 1300px;
    --sb-size: 9px;
    --sb-track-color: #ffffff04;
    --sb-thumb-color: var(--primary-color);
    scroll-margin-left: 15px;
}

.container::before{
    content: '';
    position: absolute;
    left: calc(50% - 650px);
    width: 100%;
    max-width: 1300px;
    height: clamp(300px, 447px, 100vh);
    box-shadow:
        13px 0px 20px -9px var(--background-color) inset,
        -13px 0px 20px -9px var(--background-color) inset;
    pointer-events: none;
}

.container::-webkit-scrollbar {
    height: var(--sb-size);
    
}

.container::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: px;
}

.container::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .container {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
  }
}

.scrollContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 20px;
}

.scrollItens {
    display: flex;
    gap: 1rem;
    border-radius: 10px;
}


/* responsividade */
@media (max-width: 1301px) {
    .container::before {
        left: 0;
    }
}

@media (max-width: 830px) {
    .container::before {
        height: clamp(330px, 2vh, 1vh);
    }
}